<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal_user/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User Settings</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-body">
						
							<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary text-center" role="alert">
				
								<p th:text="${session.message.content}"></p>
					
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					
							</div>
							
							<h3 class="fontTheme text-center mb-4">Change password</h3>
							<form th:action="@{/user/change-password}" method="post">
								
								<div class="from-group mb-2">
									<input name="oldPassword" class="form-control" placeholder="Enter your old password" type="password" required="required">
								</div>
								
								
								<div class="from-group mb-5">
									<input name="newPassword" class="form-control" placeholder="Enter your new password" type="password" required="required">
								</div>
								
								<div class="container text-center">
									<button type="submit" class="btn btn-success">Change Password</button>
									<button type="reset" class="btn btn-warning">Reset</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>