<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal_user/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body">
				
					
					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary text-center" role="alert">
				
								<p th:text="${session.message.content}"></p>
					
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					
					</div>
					
					
					<div class="container text-center" >
						<img style="height: 350px; width: 300px;" alt="profile pic" th:src="@{/image/home.jpg/}">
					</div>
					<h1 class="text-center fontTheme">
						😎😎Start saving your contacts on cloud😎😎
					</h1>
					
					<div class="container text-center mt-4">
					
						<a th:href="@{/user/addContact}" class="btn btn-primary btn-block buttonStyle text-uppercase">Start Adding Contacts</a>
						
					</div>
					
					<hr />
					
					
					
					<div class="container text-center">
					
						<h3>Buy me a Coffee ❤</h3>
					
						<input id="payment_field" class="form-control container" onkeypress=validate(event) style="width:25%">
					
						<button onclick="paymentStart()" class="btn btn-success mt-3">Checkout</button>
					
					</div>	
										
				</div>
			</div>
		</div>
	</section>
</body>
</html>